<div class="jumbotron">
  <h1>
    Welcome!
  </h1>
  <p>
    Have you ever felt like posting pictures of cats or other funny animals on the internet. You can do that here. All for free. It’s amazing! What are you waiting for?
  </p>
  <p>
    <%= link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
  </p>
</div>
