#pins {
  margin: 0 auto;
}

.box {
  margin: 0 7px 14px;
  width: 214px;
}

.pinCredits {
  margin: 0 -15px -15px;
  padding: 10px 15px;
  border-top: 1px solid #e7e7e7;
  font-size: 12px;
  font-weight: bold;
}
