$body-bg: hsl(0, 0%, 91%);

$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: hsl(0, 0%, 20%);
$brand-primary: hsl(358, 73%, 46%);

$navbar-default-bg: #fff;
$navbar-default-brand-color: hsl(358, 73%, 46%);

$jumbotron-bg: #fff;
